<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail Sign-in</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
   
    
   

    <div id="login-container">
        <h2>Welcome to Gmail Sign-in App</h2>
        <a href="/auth/google">Sign in with Gmail</a>
    </div>

</body>
</html>
