<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

    <div id="user-info">
        <img src="<%= user.photos[0].value %>" alt="User Photo" width="100" height="100">
        <h2>Hello <%= user.displayName %> [<a href="/logout">Sign out</a>]</h2>
        <p>You are signed in with the email <%= user.emails[0].value %></p>
        <p>Indian Time: <%= indianTime %></p>

         <!-- Input box and Display button -->
        <div id="display-input">
            <label for="numberOfLines">Number of Lines:</label>
            <input type="number" id="numberOfLines" name="numberOfLines" min="1" max="100" placeholder="Enter a number">
            <button onclick="displayPattern()">Display</button>
        </div>

        <!-- Display area for lines -->
        <div id="line-display"></div>
    

<script>
    function displayPattern() {
        const numberOfLines = document.getElementById("numberOfLines").value;
        const lineDisplay = document.getElementById("line-display");
        const str = "FORMULAQSOLUTIONS";
        let pattern = '';

        //ODD ONE
        if (numberOfLines % 2 !== 0) {
            let start = 0;
            let end = 1;
            let sp = Math.ceil(numberOfLines / 2);
            let i = 0;

            for (i = 1; i <= Math.ceil(numberOfLines / 2) + 1 && start !== end; i++) {
                pattern += ' '.repeat(sp);
                if (start < end) {
                    pattern += str.substring(start, end);
                } else if (end < start) {
                    pattern += str.substring(start) + str.substring(0, end);
                }

                start++;
                start %= str.length;
                end += 3;
                end %= str.length;
                sp--;
                pattern += '<br>';
            }

            if (start === end) {
                i++;
                pattern += ' '.repeat(sp);
                pattern += str.substring(start) + str.substring(0, end);
                sp--;
                start++;
                end = start + 2;
                pattern += '<br>';
            }

            for (; i <= Math.ceil(numberOfLines / 2) + 1; i++) {
                pattern += ' '.repeat(sp);
                pattern += str.substring(start) + str.substring(0, end);

                start++;
                start %= str.length;
                end += 3;
                end %= str.length;
                sp--;
                pattern += '<br>';
            }

            sp = 1;
            end = start + 2;
            i = 1;

            for (; i <= numberOfLines / 2; i++) {
                pattern += ' '.repeat(sp);
                pattern += str.substring(start) + str.substring(0, end);

                start++;
                start %= str.length;
                end--;
                end %= str.length;
                sp++;
                if (start === 0) break;
                pattern += '<br>';
            }

            pattern += '<br>';

            for (; i <= numberOfLines / 2; i++) {
                pattern += ' '.repeat(sp);
                if (end >= 0 && start < end) {
                    pattern += str.substring(start, end);
                }

                start++;
                start %= str.length;
                end--;
                end %= str.length;
                sp++;
                pattern += '<br>';
            }
        }

        // EVEN ONE
        if (numberOfLines % 2 === 0) {
            let start = 0;
            let end = 1;
            let sp = Math.ceil(numberOfLines / 2);
            let i = 0;

            for (i = 1; i <= Math.ceil(numberOfLines / 2) + 1 && start !== end; i++) {
                pattern += ' '.repeat(sp);
                if (start < end) {
                    pattern += str.substring(start, end);
                } else if (end < start) {
                    pattern += str.substring(start) + str.substring(0, end);
                }

                start++;
                start %= str.length;
                end += 3;
                end %= str.length;
                sp--;
                pattern += '<br>';
            }

            if (start === end) {
                i++;
                pattern += ' '.repeat(sp);
                pattern += str.substring(start) + str.substring(0, end);
                sp--;
                start++;
                end = start + 2;
                pattern += '<br>';
            }
        }

        // Update the display
        lineDisplay.innerHTML = pattern;
    }
</script>


</div>
</body>
</html>
